body {
    font-family: fantasy;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
}


.color-box {
    width: 50%;
    height: 50%;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 0;
    color: white;
    text-align: center;
    
}

@media (max-width: 579px){
    body{
        font-size: 1.5rem;
    }

    .color-box{
        width: 250px;
        font-size: 1rem;
    }
}